<h1><%= @score %></h1>

<h4>Your letters were: <%= @letters %></h4>

<h4>Your score was: <%= @score %>!</h4>
<h1><%= @score > 0 ? "Contratulations" : "You suck!" %></h1>

<%= link_to "Try again", "/new"%>